<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
</head>

<body>
    <h1>Mini Messageboard</h1>
    <% messages.forEach((message, index)=> { %>
        <div>
            <p>
                <%= message.user %>
            </p>
            <p>
                <%= message.text %>
            </p>
            <p>
                <%= message.added %>
            </p>
        </div>
        <a href="<%= `message/${index}` %>"><button type="button">Open</button></a>
        <% } ) %>
            <a href="/new"><button type="button">Add a new message</button></a>
</body>

</html>